<h3>GESTIONAR PROYECTOS</h3>
<mat-tab-group>

  
  <mat-tab label="First">  
<div class="container-fluid dashboard-content ">



  <mat-form-field appearance="standard">
    <input matInput placeholder="search" autocomplete="off" (keyup)="filterData($event)">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 table">
    <ng-container matColumnDef="PK_Pro_Cod">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.PK_Pro_Cod}} </td>
    </ng-container>

    <ng-container matColumnDef="Pro_Nombre">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.Pro_Nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="EPro_Fecha_Inicio_Edicion">
      <th mat-header-cell *matHeaderCellDef> fecha </th>
      <td mat-cell *matCellDef="let element"> {{element.EPro_Fecha_Inicio_Edicion}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Details </th>
      <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" (click)="getRecord(element.Pro_Nombre)">get details</button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


  </table>
  <mat-paginator #paginator [pageSize]="25" [pageSizeOptions]="[2,5, 10, 25, 100]">
  </mat-paginator>
</div>

</mat-tab>

<mat-tab label="Second">  
<div class="container-fluid dashboard-content ">


  <mat-form-field appearance="standard">
    <input matInput placeholder="search" autocomplete="off" (keyup)="filterData($event)">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 table">
    <ng-container matColumnDef="PK_Pro_Cod">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.PK_Pro_Cod}} </td>
    </ng-container>

    <ng-container matColumnDef="Pro_Nombre">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.Pro_Nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="EPro_Fecha_Inicio_Edicion">
      <th mat-header-cell *matHeaderCellDef> fecha </th>
      <td mat-cell *matCellDef="let element"> {{element.EPro_Fecha_Inicio_Edicion}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Details </th>
      <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" (click)="getRecord(element.Pro_Nombre)">get details</button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


  </table>
  <mat-paginator #paginator [pageSize]="25" [pageSizeOptions]="[2,5, 10, 25, 100]">
  </mat-paginator>
</div>
</mat-tab>
</mat-tab-group>

<!-- Copyright 2021 Google LLC. All Rights Reserved.
                  Use of this source code is governed by an MIT-style license that
                  can be found in the LICENSE file at http://angular.io/license -->


<!-- <div> <input placeholder="Ex. Mia" #input></div>
            <table mat-table [dataSource]="proyectos" class="mat-elevation-z8 table"> 

                <ng-container matColumnDef="ID">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.PK_Pro_Cod}} </td>
                </ng-container>

              
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.Pro_Nombre}} </td>
                </ng-container>

                
                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef> fecha </th>
                    <td mat-cell *matCellDef="let element"> {{element.EPro_Fecha_Inicio_Edicion}} </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="columnsToDisplay "></tr>
                <tr mat-row *matRowDef="let row ; columns: columnsToDisplay ;  "></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users">
            </mat-paginator> -->