<div class="container-fluid dashboard-content ">

    <div class="container-fluid">

        <div>
            <!-- titulo -->
            <h1>Personal</h1>
           <!--  <mat-divider></mat-divider>-->
        </div>
<div class="row">
  <div class="col-8">
    <mat-form-field appearance="standard">
      <input matInput placeholder="Buscar" autocomplete="off" (keyup)="filterData($event)">
    </mat-form-field>
  </div>
  <div class="col-4">
    <div style="text-align:right">
      <button class="btn btn-primary btn-lg" 
      [routerLink]="['/gestionar-personal/agregar']">
          Registrar Empleado</button> 
    </div>
  </div>
</div>
        <!-- Tabla/Listado -->
        <table mat-table [dataSource]="dataSource" class="table">

            <!-- ID -->
            <ng-container matColumnDef="ID">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
            </ng-container>

            <!-- Nombre y apellido -->
            <ng-container matColumnDef="Nombres y apellidos">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.Nombres}} {{element.Apellidos}}</td>
            </ng-container>

            <!-- DNI -->
            <ng-container matColumnDef="DNI">
                <th mat-header-cell *matHeaderCellDef> DNI </th>
                <td mat-cell *matCellDef="let element"> {{element.DNI}} </td>
            </ng-container>
            <!-- Cargo -->
            <ng-container matColumnDef="Cargo">
                <th mat-header-cell *matHeaderCellDef> Cargo </th>
                <td mat-cell *matCellDef="let element"> {{element.Cargo}} </td>
            </ng-container>
            <!-- Estado -->
            <ng-container matColumnDef="Estado">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let element"> {{element.Estado}} </td>
            </ng-container>
            <!-- Boton Visualizar -->
            <ng-container matColumnDef="Acciones">
            
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button style="background-color:transparent" (click)="open(contentUpdate,element)"><i
                        class="fas fa-edit fa-2x"></i></button>
                        <button mat-button style="background-color:transparent" (click)="open(contentView,element)"><i
                            class="fas fa-eye fa-2x"></i></button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
        </table>
        <mat-paginator #paginator [pageSize]="25" [pageSizeOptions]="[10, 25, 100]">
        </mat-paginator>


    </div>
</div>

<ng-template #contentUpdate let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h3 class="modal-title mm" id="modal-basic-title" >Actualizar Empleado</h3>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form #EmpleadoUpdateForm="ngForm" > 
            <mat-card class="card">
              <mat-card-header>
                  <mat-card-title><h4>Datos personales</h4></mat-card-title>
              </mat-card-header>
              <mat-card-content class="card-body" style="padding-top: 10px;">
                    <div class="form-group">
                      <label class='col-form-label1'>Nombres</label>
                      <input  type="text" class="form-control form-control-sm"
                       name="nombre" #nombre="ngModel" [(ngModel)]="service.selectPersonal.nombre" disabled>
                  </div>
      
                  <div class="form-group">
                    <label class='col-form-label1'>Apellidos</label>
                    <input  type="text" class="form-control form-control-sm"
                       name="apellido" #apellido="ngModel" [(ngModel)]="service.selectPersonal.apellido" requiered>
                  </div>
      
                  <div class="form-group">
                    <label class='col-form-label1'>N° documento de identidad</label>
                    <input  type="text" class="form-control form-control-sm"
                       name="doc" #doc="ngModel" [(ngModel)]="service.selectPersonal.doc" requiered>
                  </div>
                  
                  <div class="form-group">
                    <label class='col-form-label1'>Celular</label>
                    <input  type="text" class="form-control form-control-sm"
                       name="celular" #celular="ngModel" [(ngModel)]="service.selectPersonal.celular" requiered>
                  </div>
                  <div class="form-group">
                    <label class='col-form-label1'>Email</label>
                    <input  type="text" class="form-control form-control-sm"
                    name="correo" #correo="ngModel" [(ngModel)]="service.selectPersonal.correo" requiered>
                  </div>
      
                  <div class="form-group">
                    <label class='col-form-label1'>Dirección</label>
                    <input  type="text" class="form-control form-control-sm"
                       name="direccion" #direccion="ngModel" [(ngModel)]="service.selectPersonal.direccion" requiered>
                  </div>
              </mat-card-content>
            </mat-card>
      
            <mat-card class="card">
              <mat-card-header>
                  <mat-card-title>Detalle</mat-card-title>
              </mat-card-header>
              <mat-card-content class="card-body" style="padding-top: 10px;">
                    <div class="form-group">
                      <label class='col-form-label1'>Autonomo</label>
                      <select  mat-select   name="autonomo" [ngModel]="service.selectPersonal.autonomo" class="form-control form-control-sm" id="input-select" requiered>
                        <option matInput  value="0">Si</option>
                        <option matInput  value="1">No</option>
                      </select>
                  </div>
      
                  <div class="form-group">
                    <label class='col-form-label1'>Cargo</label>
                      <select mat-select class="form-control form-control-sm" name="cargo" [ngModel]="service.selectPersonal.cargo"  requiered>
                        <option matInput  value="1">Fotográfo</option>
                        <option matInput  value="2">Camarográfo</option>
                      </select>
                  </div>
                  
              </mat-card-content>
            </mat-card>
            
          </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Actualizar</button>
    </div>
  </ng-template>

  <ng-template #contentView let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h3 class="modal-title mm" id="modal-basic-title" >Detalles del Empleado</h3>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" >
        <form #EmpleadoViewForm="ngForm" > 
            <mat-card class="card">
              <mat-card-header>
                  <mat-card-title><h4>Datos personales</h4></mat-card-title>
              </mat-card-header>
              <mat-card-content class="card-body" style="padding-top: 10px;">
                    <div class="form-group">
                      <label class='col-form-label1'>Nombres</label>
                      <input  type="text" class="form-control form-control-sm"
                       name="Nombres" #Nombres="ngModel" [(ngModel)]="service.selectListar.Nombres" disabled>
                  </div>
                  
                  <div class="form-group">
                    <label class='col-form-label1'>Apellidos</label>
                    <input  type="text" class="form-control form-control-sm"
                       name="Apellidos" #Apellidos="ngModel" [(ngModel)]="service.selectListar.Apellidos" disabled>
                  </div>
      
                  <div class="form-group">
                    <label class='col-form-label1'>N° documento de identidad</label>
                    <input  type="text" class="form-control form-control-sm"
                       name="DNI" #DNI="ngModel" [(ngModel)]="service.selectListar.DNI" disabled>
                  </div>
                  
                  <div class="form-group">
                    <label class='col-form-label1'>Celular</label>
                    <input  type="text" class="form-control form-control-sm"
                       name="Celular" #Celular="ngModel" [(ngModel)]="service.selectListar.Celular" disabled>
                  </div>
                  <div class="form-group">
                    <label class='col-form-label1'>Email</label>
                    <input  type="text" class="form-control form-control-sm"
                    name="Correo" #Correo="ngModel" [(ngModel)]="service.selectListar.Correo" disabled>
                  </div>
      
                  <div class="form-group">
                    <label class='col-form-label1'>Autonomo</label>
                    <input  type="text" class="form-control form-control-sm"
                       name="Autonomo" #Autonomo="ngModel" [(ngModel)]="service.selectListar.Autonomo" disabled>
                  </div>
              </mat-card-content>
            </mat-card>
      
            <mat-card class="card">
              <mat-card-header>
                  <mat-card-title>Detalle</mat-card-title>
              </mat-card-header>
              <mat-card-content class="card-body" style="padding-top: 10px;">
                    <div class="form-group">
                      <label class='col-form-label1'>Autonomo</label>
                      <input  type="text" class="form-control form-control-sm"
                      name="autonomo" #autonomo="ngModel" [ngModel]="service.selectPersonal.autonomo" disabled>
                  </div>
      
                  <div class="form-group">
                    <label class='col-form-label1'>Cargo</label>
                      <input  type="text" class="form-control form-control-sm"
                      name="cargo" #cargo="ngModel"  [ngModel]="service.selectPersonal.cargo"  disabled>
                  </div>
                  
              </mat-card-content>
            </mat-card>
            
          </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Cancelar</button>
    </div>
  </ng-template>
  
  
  
  
  