
<div class="dashboard-ecommerce">
    <div class="container-fluid dashboard-content ">
        <div *ngIf="base">
            <h3>Listado de Eventos</h3>
            <br>
            <div class="ecommerce-widget" >
                <div *ngFor="let evento of paquete">
                    <app-event-card [id]="1" [titulo]="evento.E_Nombre" [imagen]="evento.E_Enlace" (emitAccion)="prueba($event)"></app-event-card>
                </div> 
            
            </div>
        </div>

        <div *ngIf="!base">
            <button (click)="base = true">Atras</button>
            <h3></h3>          
            <div *ngFor="let evento of servicio">
                <app-event-service [id]="1" [titulo]="evento.Evento" [servicio]="evento.Servicio" [precio]="evento.Precio" [descripcion]="evento.Descripcion" [imagen]="evento.Enlace"></app-event-service>
            </div> 
                
        </div>
        
    </div>


</div>