
<div class="dashboard-ecommerce">
    <div class="container-fluid dashboard-content ">
        <div *ngIf="base">
            <h3>Listado de Eventos</h3>
            <br>
            <div class="ecommerce-widget" >
                <div *ngFor="let evento of paquete">
                    <app-event-card [id]="evento.PK_E_Cod" [titulo]="evento.E_Nombre" [imagen]="evento.E_Enlace" (emitAccion)="prueba($event)"></app-event-card>
                </div> 
            
            </div>
        </div>

            <div *ngIf="!base">
                <div class="btn-action">
                <button (click)="base = true">Atras</button>
                <a class="addservice" mat-raised-button href="./components/detalle-servicios/detalle-servicios.component.html" target="_blank">Registrar Servicio</a>
                </div>
                <app-event-service [id]="servicioId" ></app-event-service>                     
            </div>
        
        
    </div>


</div>