<div class="container-fluid dashboard-content ">
    <div class="container-fluid">
        <div>
            <h1>Pedidos</h1>
        </div>
        <div class="row">
            <div class="col-8">
                <mat-form-field appearance="standard">
                    <input matInput placeholder="Buscar" autocomplete="off" (keyup)="filterData($event)">
                </mat-form-field>
            </div>
            <div class="col-4">
                <div style="text-align:right">
                    <button class="btn btn-primary btn-lg" [routerLink]="['/gestionar-pedido/agregar']">
                      Registrar pedido</button>
                </div>
            </div>
        </div>
      <!-- LISTA DE PEDIDOS -->
      <table mat-table [dataSource]="dataSource" matSort class="table">
        <!-- ID -->
        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
        </ng-container>
        <!-- Nombre A REVISION -->
        <ng-container matColumnDef="Nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
        </ng-container>
        <!-- Fecha Evento -->
        <ng-container matColumnDef="Fecha">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let element"> {{element.Fecha}} </td>
        </ng-container>
        <!-- Servicio -->
        <ng-container matColumnDef="Servicio">
          <th mat-header-cell *matHeaderCellDef> Servicio </th>
          <td mat-cell *matCellDef="let element"> {{element.Servicio}} </td>
        </ng-container>
        <!-- Evento -->
        <ng-container matColumnDef="Evento">
          <th mat-header-cell *matHeaderCellDef> Evento </th>
          <td mat-cell *matCellDef="let element"> {{element.Evento}} </td>
        </ng-container>
        <!-- Cliente -->
        <ng-container matColumnDef="Cliente">
          <th mat-header-cell *matHeaderCellDef> Cliente</th>
          <td mat-cell *matCellDef="let element"> {{element.Cliente}} </td>
        </ng-container>
        <!-- Estado -->
        <ng-container matColumnDef="Estado">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let element"> {{element.Estado}} </td>
        </ng-container>
        <!-- Boton Acciones -->
        <ng-container matColumnDef="Visualizar">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let element"> 
              <button mat-button style="background-color:transparent" [routerLink]="['/gestionar-pedido/actualizar',element.ID]"><i
                class="fas fa-edit fa-2x"></i></button>
            <button mat-button style="background-color:transparent" [routerLink]="['/gestionar-pedido/detalle',element.ID]"><i
                    class="fas fa-eye fa-2x"></i></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>
      <mat-paginator #paginator [pageSize]="25" [pageSizeOptions]="[10, 25, 100]">
      </mat-paginator>
    </div>
  </div>



<!-- 

     INTERFAZ VISUALIZAR 

    <div class="container-fluid" *ngIf="!botonVisualizar">
      <h1>{{pedido.NombrePedido}}</h1>
      <mat-divider></mat-divider>
      <br>

      <div class="container-fluid d-flex flex-column">
        <div class="container-fluid d-flex">
          <div class="container w-50">

            <div class="container-fluid">
              <mat-card class="card">
                <mat-card-header class="card-header">
                  <mat-card-title>Detalles de Pedido</mat-card-title>
                </mat-card-header>
              </mat-card>



              <div class="container-fluid">

                <div class="input-group">
                  <span style="width:150px;background-color:whitesmoke;" class="input-group-text">Empleado :</span>
                  <input type="text" aria-label="First name" class="form-control" [(ngModel)]="pedido.Empleado"
                    disabled />
                </div>
                <br>

                <div class="input-group">
                  <span style="width:150px;background-color:whitesmoke;" class="input-group-text">Nº
                    Pedido :</span>
                  <input type="text" aria-label="First name" class="form-control" [(ngModel)]="pedido.N_Pedido"
                    disabled />
                </div>
                <br>

                <div class="input-group">
                  <span style="width:150px;background-color:whitesmoke;" class="input-group-text">Contratante :</span>
                  <input type="text" aria-label="First name" class="form-control" [(ngModel)]="pedido.Cliente"
                    disabled />
                </div>
                <br>

                <div class="input-group">
                  <span style="width:150px;background-color:whitesmoke;" class="input-group-text">F.Registro :</span>
                  <input type="text" aria-label="First name" class="form-control" [(ngModel)]="pedido.F_Registro "
                    disabled />
                </div>
                <br>

                <div class="input-group">
                  <span style="width:150px;background-color:whitesmoke;" class="input-group-text">Estado Pedido :</span>
                  <input type="text" aria-label="First name" class="form-control" [(ngModel)]="pedido.EstadoPedido"
                    disabled />
                </div>
                <br>

              </div>

            </div>

          </div>

          <div class="container w-50">

            <mat-card class="card">
              <mat-card-header class="card-header">
                <mat-card-title>Detalles de Pago</mat-card-title>
              </mat-card-header>
            </mat-card>

            <div class="container-fluid">

              <div class="input-group">
                <span style="width:150px;background-color:whitesmoke;" class="input-group-text">Costo
                  Total :</span>
                <input type="text" aria-label="First name" class="form-control" [(ngModel)]="pedido.Costo_Total"
                  disabled />
              </div>
              <br>

              <div class="input-group">
                <span style="width:150px;background-color:whitesmoke;" class="input-group-text">A Cuenta
                  :</span>
                <input type="text" aria-label="First name" class="form-control" [(ngModel)]="pedido.Acuenta" disabled />
              </div>
              <br>

              <div class="input-group">
                <span style="width:150px;background-color:whitesmoke;" class="input-group-text">A Saldo
                  :</span>
                <input type="text" aria-label="First name" class="form-control" [(ngModel)]="saldo" disabled />
              </div>
              <br>

              <div class="input-group">
                <span style="width:150px;background-color:whitesmoke;" class="input-group-text">Estado
                  Pago :</span>
                <input type="text" class="form-control" [(ngModel)]="pedido.EstadoPago" disabled />
              </div>
              <br>

            </div>
          </div>

        </div>

        <br>


        <div class="container-fluid">
          <mat-card class="card">
            <mat-card-header class="card-header">
              <mat-card-title>Detalles de Evento</mat-card-title>
            </mat-card-header>
          </mat-card>

          <div class="container-fluid d-flex">
            <div class="container w-50">

              <div class="input-group">
                <span style="width:150px;background-color:whitesmoke;" class="input-group-text">Evento
                  :</span>
                <input type="text" class="form-control" [(ngModel)]="pedido.Evento" disabled />
              </div>
              <br>

              <div class="input-group">
                <span style="width:150px;background-color:whitesmoke;" class="input-group-text">Servicio
                  :</span>
                <input type="text" class="form-control" [(ngModel)]="pedido.Servicio" disabled />
              </div>
              <br>

              <div class="input-group">
                <span style="width:150px;background-color:whitesmoke;" class="input-group-text">Fecha Evento
                  :</span>
                <input type="text" class="form-control" [(ngModel)]="pedido.F_Evento" disabled />
              </div>
              <br>

              <div class="input-group">
                <span style="width:150px;background-color:whitesmoke;" class="input-group-text">Hora
                  :</span>
                <input type="text" class="form-control" [(ngModel)]="pedido.Hora_Evento" disabled />
              </div>
              <br>

            </div>


            <div class="container w-50">


              <div class="input-group">
                <span style="width:150px;background-color:whitesmoke;" class="input-group-text">Ubicacion :</span>
                <input type="text" class="form-control" [(ngModel)]="pedido.Direccion" disabled />
              </div>
              <br>

              <div class="input-group">
                <span style="width:150px;background-color:whitesmoke;" class="input-group-text">Descripcion :</span>
                <textarea class="form-control" [(ngModel)]="pedido.Descripcion" cols="mx-auto" rows="mx-auto"
                  disabled></textarea>
              </div>

            </div>
            <mat-divider></mat-divider>
            <br>

             MODALEDITARPEDIDO 
            <ng-template #content let-modal>
              <div class="modal-header">
                <h2 class="modal-title" id="modal-basic-title">EDITAR PEDIDO</h2>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">


                <label>Estado de Pedido </label>
                <div class="input-group"></div>
                <mat-form-field appearance="fill">
                  <mat-label></mat-label>
                  <select matNativeControl [(ngModel)]="estadoEditado" name="car">
                    <option value="" selected></option>{{pedido.EstadoPedido}}
                    <option *ngFor="let car of cars" [value]="car.value">
                      {{car.viewValue}}
                    </option>
                  </select>
                </mat-form-field>




                <div class="form-group">
                  <label for="dateOfBirth">Fecha Evento</label>
                  <div class="input-group">
                    <input id="dateOfBirth" class="form-control" [(ngModel)]="fechaEditada" name="dp" ngbDatepicker
                      #dp="ngbDatepicker" placeholder="{{pedido.F_Evento}}">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>



                <label>Hora Evento</label>
                <div>
                  <input type="text" class="form-control" [(ngModel)]="horaEditada">
                </div>


              </div>


              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
                <button type="button" class="btn btn-primary" (click)="editarModal()">Guardar</button>
              </div>

            </ng-template>


          </div>
          <button (click)="cerrarDetalles()" class="btn btn-danger">Cancelar</button>
          <button class="btn btn-warning" (click)="open(content)">Editar</button>

        </div>

      </div>
    </div> -->

    <!-- //final -->
