<div class="container-fluid dashboard-content ">
        <div class="container-fluid" *ngIf="botonVisualizar && botonRegistrar">

        <div class="container-fluid" *ngIf="botonVisualizar && botonRegistrar">

            <!-- btn Registrar -->
            <div style="text-align:right">
                <p>
                    <button type="button" (click)="mostrarRegistro()" class="btn btn-primary btn-lg">Registro</button>
                </p>
            </div>
            <br>

            <div>
                <!-- titulo -->
                <h1>PEDIDO</h1>
                <mat-divider></mat-divider>
            </div>

            <!-- Tabla/Listado -->
            <div class=""> 
                <mat-form-field appearance="standard">
                    <input matInput placeholder="Buscar" autocomplete="off" (keyup)="filterData2($event)">
                  </mat-form-field>

                <table mat-table [dataSource]="pedidos" class="table">

                <!-- ID -->
                <ng-container matColumnDef="ID">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
                </ng-container>

                <!-- Nombre A REVISION -->
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
                </ng-container>

                <!-- Fecha Evento -->
                <ng-container matColumnDef="Fecha">
                    <th mat-header-cell *matHeaderCellDef> Fecha </th>
                    <td mat-cell *matCellDef="let element"> {{element.Fecha}} </td>
                </ng-container>
                <!-- Servicio -->
                <ng-container matColumnDef="Servicio">
                    <th mat-header-cell *matHeaderCellDef> Servicio </th>
                    <td mat-cell *matCellDef="let element"> {{element.Servicio}} </td>
                </ng-container>
                <!-- Evento -->
                <ng-container matColumnDef="Evento">
                    <th mat-header-cell *matHeaderCellDef> Evento </th>
                    <td mat-cell *matCellDef="let element"> {{element.Evento}} </td>
                </ng-container>
                <!-- Cliente -->
                <ng-container matColumnDef="Cliente">
                    <th mat-header-cell *matHeaderCellDef> Cliente</th>
                    <td mat-cell *matCellDef="let element"> {{element.Cliente}} </td>
                </ng-container>
                <!-- Estado -->
                <ng-container matColumnDef="Estado">
                    <th mat-header-cell *matHeaderCellDef> Estado </th>
                    <td mat-cell *matCellDef="let element"> {{element.Estado}} </td>
                </ng-container>
                <!-- Boton Visualizar -->
                <ng-container matColumnDef="Visualizar">
                    <th mat-header-cell *matHeaderCellDef> Visualizar </th>
                    <td mat-cell *matCellDef="let element"> <button (click)="mostrarDetalles(element.ID)"
                            class="btn mx-auto" style="background-color:transparent"><i
                                class="fas fa-eye fa-2x"></i></button> </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
            </table>
            <mat-paginator #paginator [pageSize]="25" [pageSizeOptions]="[10, 25, 100]">
            </mat-paginator>
        </div>


        <!-- INTERFAZ Visualizar  -->

        <div class="container-fluid" *ngIf="!botonVisualizar">
            <h1>{{pedido.NombrePedido}}</h1>
            <mat-divider></mat-divider>
            <br>

            <div class="container-fluid d-flex flex-column">
                <div class="container-fluid d-flex">
                    <div class="container w-50">

                        <div class="container-fluid">
                            <mat-card class="card">
                                <mat-card-header class="card-header">
                                    <mat-card-title>Detalles de Pedido</mat-card-title>
                                </mat-card-header>
                            </mat-card>
                            <!-- INTfsfERFAZ sfsfsfs  -->


                            <div class="container-fluid">

                                <div class="input-group">
                                    <span style="width:150px;background-color:whitesmoke;"
                                        class="input-group-text">Empleado :</span>
                                    <input type="text" aria-label="First name" class="form-control"
                                        [(ngModel)]="pedido.Empleado" disabled />
                                </div>
                                <br>

                                <div class="input-group">
                                    <span style="width:150px;background-color:whitesmoke;" class="input-group-text">Nº
                                        Pedido :</span>
                                    <input type="text" aria-label="First name" class="form-control"
                                        [(ngModel)]="pedido.N_Pedido" disabled />
                                </div>
                                <br>

                                <div class="input-group">
                                    <span style="width:150px;background-color:whitesmoke;"
                                        class="input-group-text">Contratante :</span>
                                    <input type="text" aria-label="First name" class="form-control"
                                        [(ngModel)]="pedido.Cliente" disabled />
                                </div>
                                <br>

                                <div class="input-group">
                                    <span style="width:150px;background-color:whitesmoke;"
                                        class="input-group-text">F.Registro :</span>
                                    <input type="text" aria-label="First name" class="form-control"
                                        [(ngModel)]="pedido.F_Registro" disabled />
                                </div>
                                <br>

                                <div class="input-group">
                                    <span style="width:150px;background-color:whitesmoke;"
                                        class="input-group-text">Estado Pedido :</span>
                                    <input type="text" aria-label="First name" class="form-control"
                                        [(ngModel)]="pedido.EstadoPedido" disabled />
                                </div>
                                <br>

                            </div>

                        </div>

                    </div>

                    <div class="container w-50">

                        <mat-card class="card">
                            <mat-card-header class="card-header">
                                <mat-card-title>Detalles de Pago</mat-card-title>
                            </mat-card-header>
                        </mat-card>

                        <div class="container-fluid">

                            <div class="input-group">
                                <span style="width:150px;background-color:whitesmoke;" class="input-group-text">Costo
                                    Total :</span>
                                <input type="text" aria-label="First name" class="form-control"
                                    [(ngModel)]="pedido.Costo_Total" disabled />
                            </div>
                            <br>

                            <div class="input-group">
                                <span style="width:150px;background-color:whitesmoke;" class="input-group-text">A Cuenta
                                    :</span>
                                <input type="text" aria-label="First name" class="form-control"
                                    [(ngModel)]="pedido.Acuenta" disabled />
                            </div>
                            <br>

                            <div class="input-group">
                                <span style="width:150px;background-color:whitesmoke;" class="input-group-text">A Saldo
                                    :</span>
                                <input type="text" aria-label="First name" class="form-control" [(ngModel)]="saldo"
                                    disabled />
                            </div>
                            <br>

                            <div class="input-group">
                                <span style="width:150px;background-color:whitesmoke;" class="input-group-text">Estado
                                    Pago :</span>
                                <input type="text" class="form-control" [(ngModel)]="pedido.EstadoPago" disabled />
                            </div>
                            <br>

                        </div>
                    </div>

                </div>

                <br>


                <div class="container-fluid">
                    <mat-card class="card">
                        <mat-card-header class="card-header">
                            <mat-card-title>Detalles de Evento</mat-card-title>
                        </mat-card-header>
                    </mat-card>

                    <div class="container-fluid d-flex">
                        <div class="container w-50">

                            <div class="input-group">
                                <span style="width:150px;background-color:whitesmoke;" class="input-group-text">Evento
                                    :</span>
                                <input type="text" class="form-control" [(ngModel)]="pedido.Evento" disabled />
                            </div>
                            <br>

                            <div class="input-group">
                                <span style="width:150px;background-color:whitesmoke;" class="input-group-text">Servicio
                                    :</span>
                                <input type="text" class="form-control" [(ngModel)]="pedido.Servicio" disabled />
                            </div>
                            <br>

                            <div class="input-group">
                                <span style="width:150px;background-color:whitesmoke;" class="input-group-text">F.Evento
                                    :</span>
                                <input type="text" class="form-control" [(ngModel)]="pedido.F_Evento" disabled />
                            </div>
                            <br>

                            <div class="input-group">
                                <span style="width:150px;background-color:whitesmoke;" class="input-group-text">Hora
                                    :</span>
                                <input type="text" class="form-control" [(ngModel)]="pedido.Hora_Evento" disabled />
                            </div>
                            <br>

                        </div>


                        <div class="container w-50">


                            <div class="input-group">
                                <span style="width:150px;background-color:whitesmoke;"
                                    class="input-group-text">Ubicacion :</span>
                                <input type="text" class="form-control" [(ngModel)]="pedido.Direccion" disabled />
                            </div>
                            <br>

                            <div class="input-group">
                                <span style="width:150px;background-color:whitesmoke;"
                                    class="input-group-text">Descripcion :</span>
                                <textarea class="form-control" [(ngModel)]="pedido.Descripcion" cols="mx-auto"
                                    rows="mx-auto" disabled></textarea>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
            <mat-divider></mat-divider>
            <br>
            <button (click)="cerrarDetalles()" class="btn btn-danger">Cancelar</button>
            &nbsp;
            <button type="button" (click)="mostrarEditable()" class="btn btn-warning">Editar</button>
        </div>

        <!------------------------------------------>


        <div class="container-fluid" *ngIf="!botonRegistrar">

            <div>
                <!-- titulo -->
                <h1>REGISTRAR PEDIDO</h1>
                <mat-divider></mat-divider>
            </div>
            <br>


            <mat-card class="card">
                <mat-card-header class="card-header">
                    <mat-card-title>Detalles de Pedido</mat-card-title>
                </mat-card-header>
                <mat-card-content class="card-body">
                    <div class="form-row">

                        <div class="container-fluid d-flex">
                            <div class="container w-50">

                                <div class="input-group">
                                    <span style="width:150px;background-color:whitesmoke;"
                                        class="input-group-text">Cod.Empleado
                                        :</span>
                                    <input type="text" class="form-control" />
                                </div>
                                <br>

                                <div class="input-group">
                                    <span style="width:150px;background-color:whitesmoke;" class="input-group-text">Nº
                                        Pedido
                                        :</span>
                                    <input type="text" class="form-control" [(ngModel)]="nPedido" disabled />
                                </div>
                                <br>

                            </div>

                            <div class="container w-50">

                                <div class="input-group">
                                    <span style="width:150px;background-color:whitesmoke;"
                                        class="input-group-text">Fecha
                                        registro
                                        :</span>
                                    <input type="text" class="form-control" [(ngModel)]="fechaActual" disabled />
                                </div>
                            </div>
                        </div>
                    </div>


                </mat-card-content>
            </mat-card>

            <!-- Detalles Contratante -registro -->
            <mat-card class="card">
                <mat-card-header class="card-header">
                    <mat-card-title>Datos del Contratante</mat-card-title>
                </mat-card-header>
                <mat-card-content class="card-body">
                    <div class="form-row">

                        <div class="container-fluid d-flex">
                            <div class="container w-50">

                                <div class="input-group">
                                    <span style="width:150px;background-color:whitesmoke;"
                                        class="input-group-text">Ingrese
                                        DNI
                                        :</span>
                                    <input type="text" class="form-control" [(ngModel)]="dniCliente" />
                                </div>
                                <br>


                                <div class="input-group">
                                    <span style="width:150px;background-color:whitesmoke;"
                                        class="input-group-text">Nombres
                                        :</span>
                                    <input type="text" class="form-control" [(ngModel)]="infoCliente.Nombre" disabled />
                                </div>
                                <br>

                            </div>

                            <div class="container w-50">

                                <div class="input-group">
                                    <button (click)="buscarCliente(dniCliente)" class="btn btn-primary">Buscar</button>
                                </div>
                                <br>

                                <div class="input-group">
                                    <span style="width:150px;background-color:whitesmoke;"
                                        class="input-group-text">Apellidos
                                        :</span>
                                    <input type="text" class="form-control" [(ngModel)]="infoCliente.Apellido"
                                        disabled />
                                </div>
                                <br>

                            </div>


                        </div>
                    </div>


                </mat-card-content>
            </mat-card>

            <!-- Registro- detalles de evento -->
            <mat-card class="card">
                <mat-card-header class="card-header">
                    <mat-card-title>Detalles del Evento</mat-card-title>
                </mat-card-header>
                <mat-card-content class="card-body">
                    <div class="form-row">

                        <mat-form-field class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2" appearance="fill">
                            <mat-label>Evento</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let food of foods" [value]="food.value">
                                    {{food.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2" appearance="fill">
                            <mat-label>Servicio</mat-label>
                            <mat-select>
                                <mat-option *ngFor="" [value]="">

                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                            <mat-label>Fecha Evento</mat-label>
                            <input matInput [matDatepicker]="picker4">
                            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                            <mat-datepicker #picker4></mat-datepicker>
                        </mat-form-field>


                        <mat-form-field appearance="fill" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                            <mat-label>Hora</mat-label>
                            <input matInput [matDatepicker]="picker5">
                            <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                            <mat-datepicker #picker5></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2 " appearance="fill">
                            <mat-label>Ubicación</mat-label>
                            <input matInput placeholder="">
                        </mat-form-field>

                    </div>
                    <div class="form-row">
                        <mat-form-field class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-12 " appearance="fill">
                            <mat-label>Descripcion</mat-label>
                            <textarea matInput placeholder="Observaciones..."></textarea>
                        </mat-form-field>
                    </div>
                </mat-card-content>
            </mat-card>


            <button (click)="cerrarRegistro()" class="btn btn-danger"> Cancelar</button>


        </div>

         <!-- POP UP EDITAR -->


    </div>
